.input{
    color: var(--website-input-grey, #BCBCBC);
    font-size: 30px;
    display:block;
    width:30%;
    margin:10px 0;
    padding:10px;
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
    font-family: Acme;
}

.button{
    cursor: pointer;
    padding:10px;
    border:none;
    background-color:rgb(176, 39, 218);
    color:rgba(255, 255, 255, 1);
    border-radius:1000px;
    width:15%;
    margin: 20px;
    text-align: center;
    font-family: Acme;
    font-size: 18px;
}

.input:focus{
    fill:#fff;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    color:#BCBCBC; 
    outline: none;

}

.My_list_name{
    color:rgb(163, 30, 157);
    font-size: 60px;
}

body {
    background: rgb(235, 202, 238);
  }

.task{
    color:rgb(163, 30, 157);
    font-size: 30px;
}

.button1{
    cursor: pointer;
    padding:10px;
    border:none;
    background-color:rgb(255, 237, 80);
    color:rgb(163, 58, 233);
    border-radius:1000px;
    width:15%;
    margin: 20px;
    text-align: center;
    font-family: Acme;
    font-size: 18px;

}

#buttonss{
    display:none;
}

.checkmark{
    display: none;
}

.button2{
    cursor: pointer;
    padding:10px;
    border:none;
    background-color:rgb(184, 255, 137);
    color:rgb(163, 58, 233);
    border-radius:1000px;
    width:15%;
    margin: 20px;
    text-align: center;
    font-family: Acme;
    font-size: 18px;

}